<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="app/components/${B4Table.is}/${B4Table.is}.css">
<table class="table table-hover">
    <thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Email</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
    </tr>
    </thead>
    <tbody>
    ${this.users.map((u, i) => html`
        <tr>
            <th scope="row">${u.id}</th>
            <td>${u.email}</td>
            <td>${u.fname}</td>
            <td>${u.lname}</td>
        </tr>
    `)}
    <tr>
        <th scope="row">hello(${this.counterValue})</th>
        <td>gizzat.tazabekov@c3iot.com</td>
        <td>Gizzat</td>
        <td>Tazabekov</td>
    </tr>
    </tbody>
</table>
<slot></slot>
ok